BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #dee7ec; SCROLLBAR-SHADOW-COLOR: #8cacbb; COLOR: black; SCROLLBAR-3DLIGHT-COLOR: #8cacbb; SCROLLBAR-ARROW-COLOR: #436976; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #f7f9fa; SCROLLBAR-DARKSHADOW-COLOR: #f7f9fa; SCROLLBAR-BASE-COLOR: #dee7ec
}
TABLE {
	FONT-SIZE: 100%
}
A:link {
	COLOR: #436976; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:visited {
	COLOR: #436976; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:active {
	COLOR: #436976; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:hover {
	COLOR: #436976; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
P {
	MARGIN: 0.5em 0em 1em; LINE-HEIGHT: 1.5em; TEXT-ALIGN: justify
}
P A {
	TEXT-DECORATION: underline
}
P A:visited {
	COLOR: purple; BACKGROUND-COLOR: transparent
}
P A:active {
	COLOR: red; BACKGROUND-COLOR: transparent
}
P IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
HR {
	CLEAR: both; COLOR: #8cacbb; HEIGHT: 1px; BACKGROUND-COLOR: transparent
}
H1 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid
}
H2 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid
}
H3 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid
}
H4 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid
}
H5 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid
}
H6 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid
}
H1 {
	FONT-SIZE: 160%
}
H2 {
	FONT-SIZE: 150%
}
H3 {
	FONT-SIZE: 140%
}
H4 {
	FONT-SIZE: 120%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 80%
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
UL A {
	TEXT-DECORATION: underline
}
OL A {
	TEXT-DECORATION: underline
}
DL {
	
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.5em
}
FIELDSET {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 0em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 1em; MARGIN: 2em 0em 1em; BORDER-LEFT: #8cacbb 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #8cacbb 1px solid
}
LEGEND {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: white; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
FORM {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TEXTAREA {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #8cacbb 1px solid; WIDTH: 88%; COLOR: black; PADDING-TOP: 0.1em; BORDER-BOTTOM: #8cacbb 1px solid; BACKGROUND-COLOR: white
}
INPUT {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 0.1em; FONT-SIZE: 9pt; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0.1em; VERTICAL-ALIGN: middle; BORDER-LEFT: #8cacbb 1px solid; COLOR: black; PADDING-TOP: 0.1em; BORDER-BOTTOM: #8cacbb 1px solid; BACKGROUND-COLOR: white
}
SELECT {
	BORDER-RIGHT: #8cacbb 1px solid; BORDER-TOP: #8cacbb 1px solid; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; BORDER-LEFT: #8cacbb 1px solid; BORDER-BOTTOM: #8cacbb 1px solid
}
abbr {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
ACRONYM {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
.explain {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
Q {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Times, "Times New Roman", serif
}
BLOCKQUOTE {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Times, "Times New Roman", serif
}
CODE {
	FONT-SIZE: 120%; COLOR: black; BACKGROUND-COLOR: #dee7ec
}
PRE {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 120%; PADDING-BOTTOM: 1em; BORDER-LEFT: #8cacbb 1px solid; COLOR: black; PADDING-TOP: 1em; BORDER-BOTTOM: #8cacbb 1px solid; BACKGROUND-COLOR: #dee7ec
}
.netscape4 {
	DISPLAY: none
}
DIV.top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0em 1em 2em; PADDING-TOP: 0px
}
DIV.searchBox {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0em; FLOAT: right; PADDING-BOTTOM: 0em; MARGIN: 3em 0em 0em; TEXT-TRANSFORM: lowercase; WIDTH: 30%; COLOR: black; PADDING-TOP: 0em; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
INPUT.searchButton {
	FONT-SIZE: 100%! important; MARGIN-BOTTOM: 1px! important
}
DIV.tabs {
	PADDING-RIGHT: 0em; PADDING-LEFT: 2em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse
}
DIV.tabs A {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1.8em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1.8em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #8cacbb 1px solid; COLOR: #436976; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #8cacbb 1px
}
DIV.tabs A.selected {
	BORDER-RIGHT: #8cacbb 1px solid; BORDER-TOP: #8cacbb 1px solid; FONT-WEIGHT: normal; BACKGROUND: #dee7ec; BORDER-LEFT: #8cacbb 1px solid; COLOR: #436976; PADDING-TOP: 0.1em; BORDER-BOTTOM: #dee7ec 1px solid
}
DIV.tabs A:hover {
	BORDER-LEFT-COLOR: #8cacbb; BACKGROUND: #dee7ec; BORDER-BOTTOM-COLOR: #dee7ec; COLOR: #436976; BORDER-TOP-COLOR: #8cacbb; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #8cacbb
}
DIV.personalBar {
	PADDING-RIGHT: 3em; BACKGROUND: #dee7ec; COLOR: black; PADDING-TOP: 0.1em; BORDER-BOTTOM: #8cacbb 1px solid; TEXT-ALIGN: right
}
DIV.personalBar A {
	MARGIN-LEFT: 1em; COLOR: #436976; BACKGROUND-COLOR: transparent
}
DIV.pathBar {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; TEXT-TRANSFORM: lowercase; BORDER-BOTTOM: #8cacbb 1px solid
}
.breadcrumbs {
	FLOAT: left; TEXT-TRANSFORM: lowercase
}
.addFavorite {
	VERTICAL-ALIGN: bottom
}
TABLE.columns {
	WIDTH: 100%
}
TABLE.columns TD.left {
	PADDING-RIGHT: 0em; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; VERTICAL-ALIGN: top; WIDTH: 15%; PADDING-TOP: 2em
}
TABLE.columns TD.main {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0em
}
TABLE.columns TD.right {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0em; PADDING-BOTTOM: 1em; VERTICAL-ALIGN: top; WIDTH: 15%; PADDING-TOP: 2em
}
#contentTabs {
	MARGIN-TOP: 2em; PADDING-LEFT: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #74ae0b 1px solid; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse
}
#contentTabs A {
	BORDER-RIGHT: #74ae0b 1px solid; PADDING-RIGHT: 2em; BORDER-TOP: #74ae0b 1px solid; PADDING-LEFT: 2em; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #74ae0b 1px solid; COLOR: #578308; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0em; BORDER-BOTTOM: #74ae0b 1px; HEIGHT: 1.2em
}
#contentTabs A.selected {
	FONT-WEIGHT: normal; BACKGROUND: #cde2a7; COLOR: #578308; BORDER-BOTTOM: #cde2a7 1px solid
}
#contentTabs A:hover {
	COLOR: #578308; BACKGROUND-COLOR: #cde2a7
}
#contentBar {
	BORDER-RIGHT: #74ae0b 1px solid; BACKGROUND: #cde2a7; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #74ae0b 1px solid; COLOR: #578308; TEXT-ALIGN: right
}
DIV.document {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0em 0em 2em; FONT: 120% Verdana, Helvetica, Arial, sans-serif; PADDING-TOP: 0px
}
DIV.editableDocument {
	BORDER-RIGHT: #74ae0b 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #74ae0b 1px solid; PADDING-LEFT: 1em; BACKGROUND: white; PADDING-BOTTOM: 2em; MARGIN: 0em 0em 2em; FONT: 120% Verdana, Helvetica, Arial, sans-serif; BORDER-LEFT: #74ae0b 1px solid; PADDING-TOP: 0em; BORDER-BOTTOM: #74ae0b 1px solid
}
DIV.documentActions {
	MARGIN-TOP: 1.5em; FLOAT: right
}
DIV.message {
	BORDER-RIGHT: #ffa500 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ffa500 1px solid; PADDING-LEFT: 1em; BACKGROUND: #ffce7b; PADDING-BOTTOM: 0.5em; MARGIN: 2em 0em 1em; FONT: bold 80% Verdana, Helvetica, Arial, sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #ffa500 1px solid; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ffa500 1px solid
}
DIV.message A {
	COLOR: black; TEXT-DECORATION: underline
}
DIV.title {
	MARGIN-TOP: 1em
}
.description {
	DISPLAY: block; MARGIN: 1em 0em; FONT: bold 100%/1.5em Verdana, Helvetica, Arial, sans-serif
}
.footer {
	CLEAR: both; PADDING-RIGHT: 0em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 0em; BACKGROUND: #dee7ec; FLOAT: none; PADDING-BOTTOM: 1em; MARGIN: 2em 0em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8cacbb 1px solid; TEXT-ALIGN: center
}
INPUT.standalone {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 80%; BACKGROUND: #dee7ec; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: lowercase; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px
}
INPUT.context {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 80%; BACKGROUND: white; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: lowercase; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px
}
INPUT.destructive {
	BORDER-RIGHT: #ffa500 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffa500 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 80%; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #ffa500 1px solid; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: #ffa500 1px solid
}
INPUT.noborder {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
DIV.row {
	CLEAR: both; MIN-HEIGHT: 4em; MARGIN: 0em 0em 1em; POSITION: relative
}
.group {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; MARGIN: 1em 0em; BORDER-LEFT: #8cacbb 1px solid; PADDING-TOP: 0em; BORDER-BOTTOM: #8cacbb 1px solid
}
SPAN.legend {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 80%; BACKGROUND: white; LEFT: 0em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; POSITION: relative; TOP: -0.8em
}
DIV.label {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT-WEIGHT: bold
}
DIV.field {
	MARGIN-TOP: 0.2em
}
DIV.help {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 80%; LEFT: -18em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: black 1px solid; WIDTH: 16em; LINE-HEIGHT: normal; PADDING-TOP: 0.5em; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 1.5em; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
.error {
	BORDER-RIGHT: #ffa500 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ffa500 1px solid; PADDING-LEFT: 1em; BACKGROUND: #ffce7b; PADDING-BOTTOM: 1em; MARGIN: 0px; BORDER-LEFT: #ffa500 1px solid; WIDTH: 68%! important; PADDING-TOP: 1em; BORDER-BOTTOM: #ffa500 1px solid
}
.required {
	
}
SPAN.card {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1em; BACKGROUND: #dee7ec; FLOAT: left; PADDING-BOTTOM: 1em; MARGIN: 1em; BORDER-LEFT: #8cacbb 1px solid; WIDTH: 15%; PADDING-TOP: 1em; BORDER-BOTTOM: #8cacbb 1px solid; TEXT-ALIGN: center
}
TABLE.listing {
	CLEAR: both; FONT-SIZE: 80%; MARGIN: 1em 0em; BORDER-LEFT: #8cacbb 1px solid; BORDER-BOTTOM: #8cacbb 1px solid; BORDER-COLLAPSE: collapse
}
DIV.stx TABLE {
	CLEAR: both; FONT-SIZE: 80%; MARGIN: 1em 0em; BORDER-LEFT: #8cacbb 1px solid; BORDER-BOTTOM: #8cacbb 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.listing TH {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: normal; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: lowercase; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #8cacbb 1px solid; WHITE-SPACE: nowrap
}
DIV.stx TABLE TH {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: normal; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: lowercase; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #8cacbb 1px solid; WHITE-SPACE: nowrap
}
TABLE.listing TD.top {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 0em; BORDER-TOP: white 1px solid; PADDING-LEFT: 0em; LEFT: -1px; PADDING-BOTTOM: 1em; BORDER-LEFT: white 1px solid; PADDING-TOP: 0em; POSITION: relative; TOP: -1px; TEXT-ALIGN: right! important
}
TABLE.listing TR.odd {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
TABLE.listing TR.even {
	BACKGROUND: #f7f9fa
}
TABLE.listing TD {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em; TEXT-ALIGN: left
}
DIV.stx TABLE TD {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em; TEXT-ALIGN: left
}
TABLE.listing A:hover {
	TEXT-DECORATION: underline
}
TABLE.listing IMG {
	VERTICAL-ALIGN: middle
}
DIV.stx TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.stx TABLE {
	BORDER-RIGHT: #8cacbb 1px solid; BORDER-TOP: #8cacbb 1px solid; BORDER-LEFT: #8cacbb 1px solid; BORDER-BOTTOM: #8cacbb 1px solid
}
DIV.stx TABLE TD {
	BORDER-BOTTOM: #8cacbb 1px solid
}
DIV.box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0em 0em 2em; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.box H4 {
	FONT-SIZE: 1em
}
DIV.box H5 {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; DISPLAY: inline; PADDING-LEFT: 1em; FONT-SIZE: 1em; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #8cacbb 1px solid; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #8cacbb 1px; HEIGHT: 1em
}
DIV.box H6 {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; DISPLAY: block; PADDING-LEFT: 1em; FONT-SIZE: 1em; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #8cacbb 1px solid; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #8cacbb 1px; HEIGHT: 1.2em
}
DIV.box DIV.body {
	BORDER-RIGHT: #8cacbb 1px solid; BORDER-TOP: #8cacbb 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #8cacbb 1px solid; BORDER-BOTTOM: #8cacbb 1px solid; BORDER-COLLAPSE: collapse
}
.boxDetails {
	TEXT-ALIGN: right
}
DIV.box .content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
DIV.box A.close {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FLOAT: right; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: none; BORDER-LEFT: #8cacbb 1px solid; PADDING-TOP: 0em
}
DIV.box H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box .even {
	BACKGROUND-COLOR: #f7f9fa
}
DIV.box .odd {
	BACKGROUND-COLOR: transparent
}
DIV.box .highlight {
	
}
DIV.box INPUT {
	FONT-SIZE: 100%
}
DIV.spacer {
	MARGIN: 1em
}
.currentNavItem {
	FONT-WEIGHT: bold; COLOR: black
}
.private {
	COLOR: black
}
.published {
	COLOR: #74ae0b
}
.pending {
	COLOR: #ffa500
}
.syndicated {
	COLOR: #008000
}
.expired {
	COLOR: red
}
.even {
	BACKGROUND-COLOR: #f7f9fa
}
.odd {
	BACKGROUND-COLOR: transparent
}
.highlight {
	BACKGROUND-COLOR: #f7f9fa
}
DIV.listingBar {
	CLEAR: both; BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1em; BACKGROUND: #dee7ec; PADDING-BOTTOM: 0em; MARGIN: 1em 0em; VERTICAL-ALIGN: top; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #8cacbb 1px solid; PADDING-TOP: 0em; BORDER-BOTTOM: #8cacbb 1px solid; TEXT-ALIGN: center
}
DIV.listingBar SPAN.previous {
	FLOAT: left; TEXT-ALIGN: left
}
DIV.listingBar SPAN.next {
	FLOAT: right; TEXT-ALIGN: right
}
DIV listingBar IMG {
	VERTICAL-ALIGN: middle
}
DIV.day {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.2em; Z-INDEX: 2; VISIBILITY: hidden; PADDING-BOTTOM: 0.2em; BORDER-LEFT: black 1px solid; WIDTH: 12em; PADDING-TOP: 0.2em; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: #ffffbb
}
DIV.date {
	FONT-WEIGHT: bold
}
TABLE.calendar {
	BORDER-RIGHT: #8cacbb 1px solid; BORDER-TOP: #8cacbb 1px solid; MARGIN: 0em 1em 2em 0em; BORDER-LEFT: #8cacbb 1px solid; BORDER-BOTTOM: #8cacbb 1px solid; TEXT-ALIGN: right
}
TABLE.calendar A {
	COLOR: #436976; TEXT-DECORATION: none
}
TABLE.calendar A:hover {
	TEXT-DECORATION: none
}
TABLE.calendar TH {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: #dee7ec; TEXT-ALIGN: center
}
TABLE.calendar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 1.5em; PADDING-TOP: 2px; BACKGROUND-COLOR: transparent
}
TABLE.calendar TD.weekdays {
	BORDER-RIGHT: #8cacbb 1px; BORDER-TOP: #8cacbb 1px solid; BORDER-LEFT: #8cacbb 1px; BORDER-BOTTOM: #8cacbb 1px solid; BACKGROUND-COLOR: #dee7ec; TEXT-ALIGN: center
}
TABLE.calendar TD.event {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dee7ec
}
TABLE.calendar TD.noevent {
	BACKGROUND-COLOR: transparent
}
TABLE.calendar TD.todayevent {
	BORDER-RIGHT: #ffa500 2px solid; BORDER-TOP: #ffa500 2px solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffa500 2px solid; BORDER-BOTTOM: #ffa500 2px solid; BACKGROUND-COLOR: #dee7ec
}
TABLE.calendar TD.todaynoevent {
	BORDER-RIGHT: #ffa500 2px solid; BORDER-TOP: #ffa500 2px solid; BORDER-LEFT: #ffa500 2px solid; BORDER-BOTTOM: #ffa500 2px solid; BORDER-COLLAPSE: collapse
}
